// Styling for the masthead

header.homehead {
    background-image:
            linear-gradient(
                to bottom,
                rgba(92, 77, 66, 0.8) 0%,
                rgba(92, 77, 66, 0.8) 100%
            ),
            url("/static/assets/img/bg-masthead.jpg");
    padding-top: 5rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!
    background-position: 0 0, 50% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    h1 {
        font-size: 2.25rem;
    }
    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 40rem;
        background-position: 0 0, 50% 80%;
        padding-top: $navbar-height;
        padding-bottom: 0;
        p {
            font-size: 1.15rem;
        }
        h1 {
            font-size: 3rem;
        }
    }
    @include media-breakpoint-up(xl) {
        h1 {
            font-size: 3.5rem;
        }
    }
}